[package]
name = "qntx-desktop"
version = "0.1.0"
description = "QNTX Desktop Application"
authors = ["Sebastiaan Brandon van Houten <me@sbvh.nl>"]
license = "MIT"
repository = "https://github.com/teranos/QNTX"
edition = "2021"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri = { version = "2", features = ["tray-icon", "image-ico", "image-png"] }
tauri-plugin-shell = "2"

[features]
default = ["custom-protocol"]
custom-protocol = ["tauri/custom-protocol"]

[profile.release]
panic = "abort"
codegen-units = 1
lto = true
opt-level = "s"
strip = true
